body{
    background: linear-gradient(rgb(64, 147, 255), rgb(236, 236, 236));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Superior{
    background: linear-gradient(rgb(182, 182, 182), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
}

.logo {
    width: 150px;
  }

  #ModuloEstudiante{
    font-family: "Lato", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 1450px;
    top: 250px;
    position: absolute;
    margin: auto;
    display: block;
  }

  #ModuloE{
    border-style: double;
    font-family: "Lato", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

 #ModuloE a{
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 60px;
  }

  #ModuloE a:last-child{
    margin-right: 0;
  }

  #ModuloE a:first-child{
    margin-left: 40px;
  }

  #ModuloE img{
 width: 120px;
  }

.oculto{
  display: none;
}

.aparecer{
  display: block;
}


  .ModuloC{
    border-style: double;
    font-family: "Lato", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .table {
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
    vertical-align: middle; /* Alineación vertical */
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .filas-alineadas td {
    text-align: center;
  }
  
  .radio-button-label {
    position: relative;
    display: flex; /* Para alinear verticalmente */
    align-items: center; /* Alinear verticalmente */
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 8px;
    font-size: 16px;
    user-select: none;
  }
  
  .radio-button-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: relative; /* Cambiado a "relative" */
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
  }
  
  .radio-button-label:hover input ~ .checkmark {
    background-color: #f2f2f2;
  }
  
  .radio-button-label input:checked ~ .checkmark {
    background-color: #007bff;
    border: 2px solid #007bff;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-button-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-button-label .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }




